.flowchart-container {
	padding: 100px 250px;
	//background-color: lightblue;

	ol {
		list-style: none;
	}

	.rectangle {
		position: relative;
		padding: 15px 25px;
	}

	/* LEVEL-3 STYLES  */

	.level-3-wrapper {
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 20px;
		width: 90%;
		margin: 0 auto;
	}

	.level-3-wrapper::before {
		content: '';
		position: absolute;
		top: -20px;
		left: calc(25% - 5px);
		width: calc(50% + 10px);
		height: 2px;
		background: #000;
	}

	.level-3-wrapper > li::before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -100%);
		width: 2px;
		height: 20px;
		background: #000;
	}

	.level-3 {
		margin-bottom: 20px;
		font-size: 1.5rem;
		background: #e9a42c;
		color: #fff;
	}

	/* LEVEL-4 STYLES */

	.level-4-wrapper {
		position: relative;
		width: 85%;
		margin-left: 11%;
	}

	.level-4-wrapper::before {
		content: '';
		position: absolute;
		top: -20px;
		left: -20px;
		width: 2px;
		height: calc(100% - 6px);
		background: #000;
	}

	.level-4-wrapper li + li {
		margin-top: 20px;
	}

	.level-4 {
		font-weight: normal;
		font-size: 1.3rem;
		background-color: rgba(231, 231, 231, 0.692);
	}

	.level-4::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0%;
		transform: translate(-100%, -50%);
		width: 20px;
		height: 2px;
		background: #000;
	}
}

@media screen and (max-width: 900px) {
	.flowchart-container {
		padding: 70px 15px;

		.level-4-wrapper {
			width: 85%;
			margin-left: 10%;
		}
	}
}
